:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0 auto;
  width: 80%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

